:root {
    --base-border-radius: 0.5rem; /* 定义圆角变量 */
}

.highlight {
    border-radius: var(--base-border-radius); /* 应用圆角 */
}

.md-typeset pre > code {
    border-radius: var(--base-border-radius); /* 代码块内部的圆角 */
}