{% extends "blog.html" %}

{% macro render_blog(title, description, time, url, pg) -%}
<article class="blog-list-card">
  <div class="blog-list-card__body">
    <time class="blog-list-card__date" datetime="{{ time }}">{{ time }}</time>
    <h3><a href="/{{ pg.url }}">{{ title }}</a></h3>
    {% if description %}<p>{{ description }}</p>{% endif %}
    {% if show_tags and "tags" in pg.meta %}
      <div class="blog-list-card__tags" aria-label="文章标签">
        {% for tag in pg.meta["tags"] %}<a href="/tags/#{{ tag | urlencode }}">{{ tag }}</a>{% endfor %}
      </div>
    {% endif %}
  </div>
</article>
{{ caller() }}
{%- endmacro %}
